<h1>Play</h1>

<%= render partial: 'game/product_line' %>
<%= render partial: 'game/feeder_line' %>

<%=form_for :movement do |f|%>
  1. From loading deck to feeder line <br>
  2. From loading deck to product line <br>
  3. From feeder line to feeder line <br>
  4. From feeder line to product line <br>
  5. From product line to feeder line <br>
  Option:<%= f.text_field :option, :type => "number"  %>
  From/to:<%= f.text_field :stack_number_init, :type => "number" %>
  To:<%= f.text_field :stack_number_destiny, :type => "number"%><br>

  <% @loading_deck.each do |line| %>
    <%= hidden_field_tag "movement[loading_deck][]", line %>
  <% end if @loading_deck.present? %>

  <% @feeder_line.each do |line| %>
    <%= hidden_field_tag "movement[feeder_line][]", line %>
  <% end if @feeder_line.present? %>

  <%= f.submit "Move" %>
  <%= f.submit "Play"%>
  <%= f.submit "Next Card"%>
<%end%>
