<h1>Play</h1>
<div id="product_line" align="center">
  <%= image_tag("product_line.jpeg", size: "100x200", style:"margin:5px")%>
  <%= image_tag("product_line.jpeg", size: "100x200", style:"margin:5px")%>
  <%= image_tag("product_line.jpeg", size: "100x200", style:"margin:5px")%>
  <%= image_tag("product_line.jpeg", size: "100x200", style:"margin:5px")%>
  <%= image_tag("loading_deck.jpeg", size: "100x200", style:"margin:5px 5px 5px 70px; ")%>
</div>
<div id="feeder_line" align="center" style="margin-botom:200px;">
  <table>
    <tr>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
      <td>
        <%= image_tag("feeder_line.png", size: "100x200", style:"margin:5px")%>
      </td>
    </tr>
    <% if !@feeder_line.empty? %>
    <tr>
      <td align="center">
        Stack 1 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[0]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 2 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[1]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 3 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[2]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 4 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[3]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 5 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[4]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 6 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[5]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
        </ul>
      </td>
      <td align="center">
        Stack 7 <br>
        <ul>
            <% card = return_feeder_line(@feeder_line[6]) %>
            <% card.each do |card|%>
              <li>
                <%= card.number%> -> <%= card.color%>-> <%= card.symbol%><br>
              </li>
            <%end%>
       </ul>
     </td>
   </tr>
   <%end%>
  <table>
</div>

<%=form_for :movement do |f|%>
  1. From loading deck to feeder line <br>
  2. From loading deck to product line <br>
  3. From feeder line to feeder line <br>
  4. From feeder line to product line <br>
  5. From product line to feeder line <br>
  Option:<%= f.text_field :option, :type => "number"  %>From/to:<%= f.text_field :stack_number_init, :type => "number" %>To:<%= f.text_field :stack_number_destiny, :type => "number"%><br>
  <%= f.submit "Move" %>
  <%= f.submit "Play"%>
  <%= f.submit "Next Card"%>
<%end%>

<%if !@loading_deck.nil?%>
  <%= @loading_deck.inspect%><br><br>
<%end%>
